body {
    width: max-content;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ee896a, #eb689a, #4ebbe2, #73e4c8);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-transform: capitalize;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 0;
}

.artist {
    font-family: URW Chancery L, cursive;
    font-size: 18px;
}

.artist span { 
	position:absolute;
	visibility:hidden;
}

.artist:hover, .artist:hover span { 
	visibility:visible;
    top: 60px;
    left: 300px;
	z-index:1;
}

.artist_img {
    width: 200px;
    border-radius: 100px;
}
	
.song_img {
    border: 3px solid #ddd;
    border-radius: 50px;
    padding: 5px;
    width: 300px;
}

figure {
    margin: 15px auto;
    width: 300px;
}

figcaption {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    color: azure;
    font-family: URW Chancery L, cursive;
}

.preview {
    font-family: URW Chancery L, cursive;
    border: double white;
    width: 250px;
    margin: 20px auto;
    border-radius: 10px;
}

.preview p {
    margin: 5px;
    font-size: 17px;
    color: azure;
}

audio {
    width: 380px;
}

.lyrics {
    font-size: 25px;
    font-family: cursive;
}

.logout {
    position: fixed;
    top: 5px;
    left: 30px;
    font-size: 20px;
    font-style: italic;
}

.art_form {
    margin-top: 15px;
}

.art_form label {
    margin-bottom: 5px;
    font-size: 18px;
}

.art_input {
    margin: 10px;
}