<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}} />
  </head>
  <body>
    <h1>{{name}}</h1>
    {% if artist|string() == name_genius|string() %}
    <a class="artist" href="{{artist_url}}"
      ><p>{{artist}}</p>
      <span><img class="artist_img" src="{{artist_img}}" alt="" /></span
    ></a>
    {% else %}
    <p class="artist">{{artist}}</p>
    {% endif %}
    <img class="song_img" src="{{img}}" alt="{{name}}" />
    {% if preview|string() != 'None'|string() %}
    <figure>
      <figcaption>Listen to the preview:</figcaption>
      <audio controls src="{{preview}}">
        Your browser does not support the
        <code>audio</code> element.
      </audio>
    </figure>
    {% else %}
    <div class="preview">
      <p>Preview is not available</p>
    </div>
    {% endif %}
    <div class="lyrics">
      <a href="{{lyrics_url}}">Click here to see the lyrics!</a>
    </div>
  </body>
</html>
